<!DOCTYPE html>
<html>
<head>
    <title>Endpoint Information</title>
</head>
<body>
    <h1>Welcome to the Weather Tracker</h1>
    <p>You can view the following endpoints:</p>
    <ul>
        <li><a href="{% url 'get_weather_app_ui' %}">Weather App UI</a></li>
        <li>Weather for city : "http://127.0.0.1:8000/weather/&lt;city&gt;"  </li>
        <li>Weather for city in preferred language (EN/DE/FR): "http://127.0.0.1:8000/weather/&lt;city&gt;/&lt;lang&gt;"  </li>
        <li>Weather for city in preferred language (EN/DE/FR) and cache timeout (5/10/60) in minutes: "http://127.0.0.1:8000/weather/&lt;city&gt;/&lt;lang&gt;&lt;cache_timeout&gt;"  </li>
        <li><a href="{% url 'swagger-ui' %}">Swagger UI</a></li>
        <li><a href="{% url 'schema' %}">API description</a></li>
    </ul>
</body>
</html>
