{% if weather_data %}
    <h1>{{ weather_data.city }}</h1>
    <h2>Temperature: {{ weather_data.temperature }}°C </h2>
    <p> Min: {{ weather_data.temperature_min }}°C</p>
    <p> Max: {{ weather_data.temperature_max }}°C</p>
    <h2>Humidity: {{ weather_data.humidity }} </h2>
    <h2>Pressure: {{ weather_data.pressure }} </h2>
    <h2>Wind_speed: {{ weather_data.wind_speed }} </h2>
    <h2>Wind_direction: {{ weather_data.wind_direction }} </h2>
    <h2>Description: {{ weather_data.description }}</p>
    <img src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="{{ weather_data.description }}">
{% endif %}